.additional-item__item-name {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0 0 15px 19px;
}

.additional-item__info {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-top: 13px;
}

.additional-item-info__count {
  display: flex;
  justify-content: space-between;
}

.additional-item__order {
  align-self: center;
  margin-top: 15px;
}

@media (min-width: $tablet-width) {
  .additional-item {
    display: flex;
    flex-direction: column;
  }

  .additional-item__item-name {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-item__info {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .additional-item__info {
    margin: 25px 0;
    width: 100%;
  }

  .additional-item__item-name {
    width: 100%;
  }

  .additional-item-info__count {
    width: 100%;
  }

  .additional-item-info__price {
    margin-right: 40px;
  }

  .additional-item__order {
    width: auto;
  }
}
