.additional-item-info__count {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .additional-item-info {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {

}
