.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages-list__icon {
  margin-right: 20px;
}

.advantages-list__description {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;

  & br {
    display: none;
}
}

@media (min-width: $tablet-width) {
  .advantages-list {
    display: grid;
    grid-template-columns: 243px 243px;
    gap: 70px 140px;
  }

  .advantages-list__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 227px;
    background-position: 125px 0;

    &:nth-child(1) {
      background-image: url("../img/advantages-list-background-number-1.svg");
      background-repeat: no-repeat;
    }

    &:nth-child(2) {
      background-image: url("../img/advantages-list-background-number-2.svg");
      background-repeat: no-repeat;
    }

    &:nth-child(3) {
      background-image: url("../img/advantages-list-background-number-3.svg");
      background-repeat: no-repeat;
    }

    &:nth-child(4) {
      background-image: url("../img/advantages-list-background-number-4.svg");
      background-repeat: no-repeat;
    }
  }

  .advantages-list__description {
    font-size: 16px;
    line-height: 24px;

    & br {
      display: inline;
    }
  }

  .advantages-list__icon {
    margin-bottom: 35px;
    width: 80px;
    height: 80px;
  }
}

@media (min-width: $desktop-width) {
  .advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }

  .advantages-list__item {
    width: 245px;
    height: 280px;
  }
}
