.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages-list__icon {
  margin-right: 20px;
}

.advantages-list__description {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages-list {
    display: grid;
    grid-template-columns: 243px 243px;
    gap: 37px 150px;
  }

  .advantages-list__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 230px;

    &:nth-child(1) {
      background-image: url("../img/advantages-list-background-number-1.svg");
      background-repeat: no-repeat;
      background-position: 125px;
    }

    &:nth-child(2) {
      background-image: url("../img/advantages-list-background-number-2.svg");
      background-repeat: no-repeat;
      background-position: 125px;
    }

    &:nth-child(3) {
      background-image: url("../img/advantages-list-background-number-3.svg");
      background-repeat: no-repeat;
      background-position: 125px;
    }

    &:nth-child(4) {
      background-image: url("../img/advantages-list-background-number-4.svg");
      background-repeat: no-repeat;
      background-position: 125px;
    }
  }

  .advantages-list__description {
    font-size: 16px;
    line-height: 24px;
  }

  .advantages-list__icon {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .advantages-list {
    display: flex;
  }
}
