.catalog-item__link {
  text-decoration: none;
}

.catalog-item__link--header {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;
}

.catalog-item__header {
  width: 75px;
  margin-bottom: 18px;
}

.catalog-item__image {
  margin-top: 18px;
  margin-left: 54px;
  margin-right: 37px;
}

.catalog-item__image--1000 {
  margin-top: 8px;
  margin-left: 47px;
  margin-right: 27px;
}

.catalog-item__order-button {
  display: block;
  text-align: center;
}

.catalog-item__flex-wrapper {
  display: flex;
  margin-top: 20px;
  margin-bottom: 22px;
}

.catalog-item__cat-energy-1000 {

}

.catalog-item__information-flex-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .catalog-item__link--header {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-item__image {
    margin-bottom: 35px;
    width: 162px;
    height: 173px;
  }

  .catalog-item__image--1000 {
    width: 168px;
    height: 200px;
  }

  .catalog-item__header {
    margin-bottom: 20px;
    width: 155px;
    text-align: center;
  }

  .catalog-item__info {
    margin-bottom: 33px;
  }

  .catalog-item__order-button {
    width: 160px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .catalog-item__flex-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item__header {
    width: 150px;
    text-align: center;
  }

  .catalog-item__order-button {
    width: auto;
    padding: 10px 55px;
  }

  .catalog-item__info {
    width: 170px;
  }

  .catalog-item__image {
    width: 162px;
    height: 173px;
  }

  .catalog-item__image--1000 {
    width: 172px;
    height: 196px;
  }
}
