.catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-gap: 21px;
}

.catalog-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #ebebeb;
}


.catalog-list__expand-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 37px;
  margin-bottom: 55px;
}

@media (min-width: $tablet-width) {
  .catalog-list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 145px 60px;
  }

  .catalog-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 40px;
    border: none;
    background-color: #f2f2f2;

    &:last-child {
      align-self: center;
      padding-bottom: 0;
    }
  }

  .catalog-list__expand-block {
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    grid-template-columns: repeat(4, 245px);
    gap: 140px 80px;
  }
}
