.catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-gap: 26px;
}

.catalog-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #ebebeb;
}

.catalog-list__item:nth-child(3) {
  .catalog-item__flex-wrapper {
    margin-bottom: 20px;
    .catalog-item__image {
      margin-top: 24px;
    }
  }
}

.catalog-list__item:nth-child(5) {
  .catalog-item__flex-wrapper {
    margin-bottom: 18px;
    .catalog-item__image {
      margin-top: 24px;
    }
  }
}

.catalog-list__item:nth-child(7) {
  .catalog-item__flex-wrapper {
    margin-bottom: 13px;
    .catalog-item__image {
      margin-top: 22px;
    }
  }
}

.catalog-list__expand-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 52px;
}

@media (min-width: $tablet-width) {
  .catalog-list__item:nth-child(3) {
    .catalog-item__flex-wrapper {
      margin-bottom: 36px;
      .catalog-item__image {
        margin-top: -47px;
      }
    }
  }

  .catalog-list__item:nth-child(5) {
    .catalog-item__flex-wrapper {
      margin-bottom: 36px;
      .catalog-item__image {
        margin-top: -47px;
      }
    }
  }

  .catalog-list__item:nth-child(7) {
    .catalog-item__flex-wrapper {
      margin-bottom: 36px;
      .catalog-item__image {
        margin-top: -47px;
      }
    }
  }

  .catalog-list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 145px 60px;
  }

  .catalog-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 40px;
    border: none;
    background-color: #f2f2f2;

    &:last-child {
      align-self: center;
      padding-bottom: 0;
    }
  }

  .catalog-list__expand-block {
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    grid-template-columns: repeat(4, 245px);
    gap: 140px 80px;
  }
}
