.example-data {
  position: relative;
}

.example-data__number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  min-width: 124px;
  min-height: 56px;
}

.example-data__text {
  position: absolute;
  text-transform: lowercase;
  top: 50px;
  left: 25px;
  z-index: 2;
  padding: 0 10px;
  background-color: #eaeaea;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .example-data__number {
    font-size: 30px;
    line-height: 37px;
  }

  .example-data__text {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .example-data__text {
    background-color: #eaeaea;
  }
}
