.example {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  padding-top: 25px;
  background-color: #eaeaea;
  min-width: 320px;
}

.example__background-wrapper {
  padding: 0 21px 35px;
}

.example__header {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 42px;
}

.example__text {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 17px;
  width: 280px;
}

.example__cost {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  margin: 34px 0 20px;
  text-align: center;
}

.example__compare {
  width: 280px;
  height: 256px;
}

@media (min-width: $tablet-width) {
  .example {
    background-image: linear-gradient(#ffffff 625px, #eaeaea 450px);
    padding-top: 43px;
  }

  .example__background-wrapper {
    background: none;
    padding: 0;
  }

  .example__header {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 64px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    margin-bottom: 60px;
  }

  .example__stats {
    margin-bottom: 220px;
  }

  .example__cost {
    font-size: 20px;
    line-height: 30px;
    margin: -5px 0 0 155px;
    text-align: right;
  }

  .example__flex-wrapper {
    display: flex;
    justify-content: center;
    height: 500px;
  }

  .example__compare {
    width: 560px;
    height: 512px;
    margin-top: -115px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-top: 0;
    background-image: linear-gradient(#ffffff 135px, #eaeaea 135px);
  }

  .example__background-wrapper {
    padding-bottom: 22px;
  }

  .example__header {
    background-color: #ffffff;
    margin-bottom: 147px;
  }

  .example__flex-wrapper {
    position: absolute;
    top: 115px;
    right: 0;
    display: block;
    background-color: transparent;
    height: 510px;
  }

  .example__stats {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .example-statistic__flex-wrapper {
    display: flex;
  }

  .example__text {
    width: 433px;
    margin-bottom: 75px;
  }

  .example__cost {
    margin: 0;
  }

  .example__cost-desktop {
    margin-right: 62px;
  }
}
