@media (min-width: $tablet-width) {
  .food-additives__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 120px;
  }
}

@media (min-width: $desktop-width) {
  .food-additives__wrapper {
    display: flex;
    flex-direction: row;
  }

  .food-additives__item {
    width: auto;
    margin-right: 100px;

    &:last-child {
      margin-right: 0;
    }
  }
}
