@media (min-width: $tablet-width) {
  .food-additives__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 60px;
  }
}

@media (min-width: $desktop-width) {
  .food-additives__wrapper {
    display: flex;
    flex-direction: row;
  }
}
