.form-page__container {
  width: 280px;
  margin: 0 auto;
}

.form-page__desktop-container {
  width: 280px;
  margin: 0 auto;
}

.form-page__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 27px 0 0;
}

.form-page__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 37px 0 0;
}

.form-page__form {
  margin-top: 40px;
}

.form-page__required-sign {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  align-self: center;
  margin: 0 0 32px;
}

@media (min-width: $tablet-width) {
  .form-page__container {
    width: 630px;
  }

  .form-page__desktop-container {
    width: 630px;
  }

  .form-page__header {
    font-size: 60px;
    line-height: 60px;
    margin-top: 60px;
  }

  .form-page__description {
    font-size: 20px;
    line-height: 30px;
    width: 330px;
    margin-top: 55px;
  }

  .form-page__required-sign {
    font-size: 16px;
    line-height: 16px;
    margin-left: 0;
  }

  .form-page__form {
    margin-top: 60px;
  }
}

@media (min-width: $desktop-width) {
  .form-page__container {
    width: 1220px;
  }

  .form-page__desktop-container {
    width: auto;
    margin: 0;
  }

  .form-page__top-container {
    width: 1220px;
    margin: 0 auto;
  }
}
