.form__fieldset {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  margin: 0;
  padding: 0;
}

.form__fieldset--bordered {
  &::before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #d9d9d9;
    width: 100%;
    top: -23px;
  }

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #d9d9d9;
    width: 100%;
    bottom: -6px;
  }
}

.form__fieldset-cat-data {
  margin-bottom: 32px;
}

.form__fieldset-owner-data {
  margin-bottom: 10px;
}

.form__fieldset-more-info {
  margin-bottom: 21px;
}

.form__fieldset-food-additives {
  margin-bottom: 24px;
}

.form__header {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
  padding: 0;
  margin-bottom: 35px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 56%;
    height: 2px;
    width: 100%;
    background-color: #68b738;
    z-index: 0;
  }
}

.form__header-cat-owner-data {
  &::before {
    top: 30%;
  }
}

.form__header__more-info {
margin-bottom: 38px;
}

.form__header-text {
  display: inline-block;
  background-color: #ffffff;
  padding: 0 0 0 20px;
  width: 200px;
}

.form__header-text--more-info {
  width: 144px;
}

.form__header-text-food-additives {
  width: 164px;
}

.form__container {
  position: relative;
  display: block;
  width: 320px;
  margin: 0 auto;
  z-index: 10;
}
.form__label {
  cursor: pointer;
  margin-right: 14px;
}

.form__label-additives {
  cursor: pointer;
  color: #000000;
}

.form__label-owner-data {
  margin-right: 10px;
}

.form__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  flex-grow: 1;
  padding: 14px 0 12px 20px;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
    outline-offset: -2px;

    + .form__phone-icon,
    + .form__email-icon {
      stroke: #68b738;
    }
  }

  &:invalid:not(:placeholder-shown) {
    outline: none;
    border: 2px solid #ff8282;

    + .form__phone-icon,
    + .form__email-icon {
      stroke: #ff8282;
    }
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus:-moz-placeholder {
    color: transparent;
  }

  &:focus::-moz-placeholder {
    color: transparent;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.form__input--icon {
  position: relative;
  padding-left: 15px;
}

.form__radio-styled {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 28px;
  height: 30px;
  background: #ffffff;
  vertical-align: middle;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  margin-right: 10px;
}

.form__radio {
  position: absolute;
  opacity: 0;
  z-index: -1;

  &:checked + .form__radio-styled::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #68b738;
    border-radius: 50%;
    top: 8px;
    left: 8px;
  }

  &:hover + .form__radio-styled {
    border-color: #bababa;
  }

  &:active + .form__radio-styled {
    opacity: 0.3;
  }

  &:focus + .form__radio-styled {
    outline: 2px solid #444444;
  }

  &:disabled ~ span {
    opacity: 0.3;
  }
}

.form__checkbox-styled {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  background: #ffffff;
  vertical-align: middle;
  border: 1px solid #cdcdcd;
  margin-right: 12px;
}

.form__checkbox {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;

  &:checked + .form__checkbox-styled::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url("../img/checked-checkbox.svg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
  }

  &:hover + .form__checkbox-styled {
    border-color: #bababa;
  }

  &:active + .form__checkbox-styled {
    opacity: 0.3;
  }

  &:focus + .form__checkbox-styled {
    outline: 2px solid #444444;
  }
}

.form__email {
  position: relative;
}

.form__phone {
  position: relative;
}

.form__email-icon {
  position: absolute;
  top: 13px;
  right: 15px;
  fill: transparent;
  stroke: #000000;
}

.form__phone-icon {
  position: absolute;
  top: 15px;
  right: 16px;
  fill: transparent;
  stroke: #000000;
}

.form__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.form__wrapper--radio {
  margin-bottom: 11px;
}

.form__desktop-flex-wrapper {
  margin-bottom: 32px;
}

.form__textarea {
  min-width: 263px;
  height: 128px;
  resize: none;
  padding-top: 8px;
  padding-left: 15px;
}

.form__flex-wrapper {
  display: flex;
  flex-direction: column;
}

.form__submit {
  width: 280px;
  margin-bottom: 23px;
}


@media (min-width: $tablet-width) {
  .form__header {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;

    &::before {
      top: 60%;
    }
  }

  .form__header-food-additives {
    margin-bottom: 57px;
  }

  .form__header-text {
    width: 520px;
    margin-left: -31px;
    padding: 0 30px;
  }

  .form__header-text--more-info {
    width: 191px;
  }

  .form__header-text-food-additives {
    width: 224px;
  }

  .form__radio-button {
    margin-left: 28px;
    margin-bottom: 11px;
  }

  .form__radio-styled {
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }

  .form__radio-text {
    text-align: end;
  }

  .form__radio {
    &:checked + .form__radio-styled::before {
      width: 18px;
      height: 18px;
      top: 11px;
      left: 11px;
    }
  }

  .form__checkbox-styled {
    width: 40px;
    height: 40px;
    margin-right: 14px;
  }

  .form__checkbox {
    &:checked + .form__checkbox-styled::before {
      width: 33px;
      height: 33px;
      top: 0;
      left: 3px;
    }
  }

  .form__email-icon {
    top: 16px;
  }

  .form__phone-icon {
    top: 18px;
  }

  .form__fieldset {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 30px;

    &::before {
      display: none;
    }
  }

  .form__fieldset--bordered {
    border: 1px solid #e7e7e7;
    width: 630px;
    margin: 0 auto;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .form__fieldset-cat-data {
    margin-bottom: 52px;
  }

  .form__fieldset--program-type {
    padding-top: 23px;
    margin-bottom: 77px;
  }

  .form__fieldset-owner-data {
    margin-bottom: 45px;
  }

  .form__fieldset-more-info {
    margin-bottom: 61px;
  }

  .form__fieldset-food-additives {
    margin-bottom: 44px;
  }

  .form__label {
    margin-right: 13px;
    margin-left: 2px;
  }

  .form__label-owner-data {
    margin-right: 20px;
  }

  .form__label-owner-data--phone {
    margin-left: 0;
  }

  .form__input {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 10px 19px;
  }

  .form__textarea {
    min-width: 610px;
    height: 150px;
  }

  .form__wrapper {
    margin-bottom: 20px;
  }

  .form__wrapper--radio {
    margin-bottom: 0;
    padding-left: 27px;
  }

  .form__wrapper--last-item {
    margin-bottom: 10px;
  }

  .form__flex-wrapper {
    flex-direction: row;
  }

  .form__container {
    width: 630px;
  }

  .form__submit {
    font-size: 20px;
    margin-left: 4px;
    margin-right: 65px;
    padding: 15px 0;
  }

  .form__submit-button {
    margin-bottom: 48px;
  }
}

@media (min-width: $desktop-width) {
  .form__header {
    margin-bottom: 75px;
  }

  .form__header-food-additives {
    margin-bottom: 55px;
  }

  .form__header-text {
    width: 520px;
    margin-left: 130px;
    padding: 1px 36px;
  }

  .form__header-text--more-info {
    width: 188px;
  }

  .form__header-text-food-additives {
    width: 223px;
    margin-left: 130px;
    padding: 0 35px;
  }

  .form__label {
    margin-right: 13px;
  }

  .form__label-additives {
    display: flex;
    align-items: center;
  }

  .form__label-owner-data {
    margin-left: 1px;
    margin-right: 20px;
  }

  .form__input {
    padding: 10px 0 10px 18px;
  }

  .form__input--icon {
    padding-left: 19px;
  }

  .form__checkbox-styled {
    width: 37px;
    height: 39px;
    margin-right: 20px;
  }

  .form__checkbox {

    &:checked + .form__checkbox-styled::before {
      top: 4px;
      left: 2px;
    }
  }

  .form__desktop-flex-wrapper {
    display: flex;
    margin-bottom: 0;
  }

  .form__fieldset {
    &:first-child {
      margin-right: 80px;
    }
  }

  .form__fieldset--bordered {
    width: auto;
  }

  .form__fieldset-cat-data {
    margin-bottom: 48px;
  }

  .form__fieldset--program-type {
    padding-top: 23px;
    margin-bottom: 75px;
  }

  .form__fieldset-owner-data {
    margin-bottom: 46px;
  }

  .form__fieldset-owner-data-flex-wrapper {
    display: flex;
  }

  .form__fieldset-more-info {
    margin-bottom: 62px;
  }

  .form__fieldset-food-additives {
    margin-bottom: 44px;
  }

  .form__wrapper {
    width: 570px;
    margin-bottom: 20px;
  }

  .form__wrapper--last-item {
    margin-bottom: 0;
  }

  .form__wrapper--radio {
    padding-left: 2px;
    margin-bottom: 14px;
  }

  .form__radio-button {
    margin-left: 24px;
    margin-bottom: -3px;
  }

  .form__email {
    margin-right: 78px;
  }

  .form__email-icon {
    top: 16px;
    right: 18px;
  }

  .form__phone-icon {
    top: 17px;
    right: 17px;
  }

  .form__textarea {
    min-width: 1198px;
    padding-left: 20px;
    padding-top: 9px;
    padding-bottom: 13px;
  }

  .form__submit {
    width: 570px;
    margin-left: 0;
    margin-right: 83px;
  }

  .form__submit-button {
    margin-bottom: 60px;
  }

  .form__container {
    width: 1165px;
    margin-left: 175px;
  }
}
