.how-it-works {
  padding-top: 20px;
  padding-bottom: 36px;
}

.how-it-works__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}

.how-it-works__advantages {
  margin-top: 40px;
}

@media (min-width: $tablet-width) {
  .how-it-works {
    padding-bottom: 0;
  }

  .how-it-works__header {
    font-size: 60px;
    line-height: 60px;
  }

  .how-it-works__advantages {
    margin-top: 70px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 42px;
  }
}

@media (min-width: $desktop-width) {
  .how-it-works__advantages {
    border-bottom: none;
    padding-bottom: 10px;
  }
}
