.main-menu {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-menu__item {
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.main-menu__link {
  display: inline-block;
  text-decoration: none;
  padding: 22px 0 24px;
  width: 100%;
  text-align: center;
  color: #000000;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .main-menu {
    position: static;
    background-color: transparent;
    padding-top: 9px;
  }

  .main-menu__item {
    border: none;
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  .main-menu__link {
    padding: 0 0 5px;
  }

  .main-menu__link-active {
    border-bottom: 2px solid #68b738;
  }

  .main-menu__link-active--main-page {
    border-color: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .page-header__menu {
    font-size: 20px;
    line-height: 30px;
  }

  .main-menu__link {
    padding-bottom: 5px;
    padding-top: 0;
  }

  .main-menu__link--main-page {
    color: #ffffff;
  }
}
