.page-footer {
  background-color: #f2f2f2;
  min-width: $mobile-width;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.page-footer__logo-link {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px solid #d9d9d9;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__logo {
  width: 130px;
  height: 25px;
  padding: 32px 0 16px;
}

.page-footer__social {
  text-align: center;
  padding: 17px 0;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
}

.page-footer__development {
  padding: 19px 0 50px;
}

.development__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 58px 0;
  }

  .page-footer__logo-link {
    display: inline-block;
    border: none;
  }

  .page-footer__logo {
    padding: 0;
    width: 143px;
    height: 26px;
  }

  .page-footer__social {
    padding: 0;
    border: none;
    width: auto;
    margin-left: 21px;
  }

  .page-footer__development {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding: 70px 0;
  }
}
