.program-presentation {
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
}

.program-presentation__header {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 23px;
}

.program-presentation__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 165px;
}

.program-presentation__image {
  padding-top: 48px;
}

@media (min-width: $tablet-width) {
  .program-presentation {
    text-align: left;
  }

  .program-presentation__header {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    padding-top: 60px;
    padding-bottom: 43px;
  }

  .program-presentation__text {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding-bottom: 50px;
    margin-left: 5px;
  }

  .program-presentation__image {
    width: 700px;
    height: 600px;
  }
}

@media (min-width: $desktop-width) {
  .program-presentation__header {
    padding-top: 110px;
  }

  .program-presentation__image {
    width: 550px;
    height: 500px;
  }
}
