.program-choose__background-wrapper {
  background-color: #68b738;
  background-image: url("../../img/green-cat-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 140px;
}

.program-choose__button {
  font-size: 14px;
  line-height: 18px;
}
