.program-choose__background-wrapper {
  background-color: #68b738;
  background-image: url("../../img/green-cat-background.jpg");
  background-repeat: no-repeat;
  margin-bottom: 140px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/green-cat-background@2x.jpg");
    background-size: cover;
  }
}

.program-choose__button {
  font-size: 14px;
  line-height: 18px;
  width: 280px;
  text-align: center;
  margin-left: 21px;
  padding: 9px 0;
  margin-bottom: 22px;
}

.program-choose__image-wrapper {
  position: absolute;
  top: 120px;
  left: 20px;
}

@media (min-width: $tablet-width) {
  .program-choose__background-wrapper {
    background: none;
    margin-bottom: 0;
    margin-left: 85px;
  }

  .program-choose__button {
    font-size: 20px;
    line-height: 20px;
    padding: 15px 0;
    margin-bottom: 450px;
    margin-left: 90px;
    width: 246px;
  }

  .program-choose__image-wrapper {
    z-index: -1;
    top: 217px;
    left: 5px;
  }
}

@media (min-width: $desktop-width) {
  .program-choose {
    position: relative;
    margin-top: -150px;

    &::after {
      position: absolute;
      top: 30px;
      bottom: -190px;
      left: 50%;
      right: 0;
      content: "";
      background-image: url("../img/desktop-cat-background.jpg");
      background-size: cover;
      background-position: 0;
      background-repeat: no-repeat;
      box-shadow: inset 0 0 0 1000px rgba(104, 183, 56, 0.85);
    }
  }

  .program-choose__background-wrapper {
    padding-top: 120px;
    margin-left: 80px;
  }

  .program-choose__desktop-background-wrapper {
    margin-bottom: 270px;
  }

  .program-choose__image-wrapper {
    top: 120px;
    left: 450px;
    z-index: 3;
  }

  .program-choose__button {
    margin-bottom: 0;
    margin-left: 80px;
  }
}
