.social__item {
  display: inline-block;
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }
}

.social__item-image {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}
