.program-presentation {
  height: 302px;
  text-align: center;
}

.program-presentation__header {
  margin: 0;
  padding-top: 27px;
}

.program-presentation__text {
  margin: 0;
  padding-top: 25px;
}

.program-presentation__image {
  padding-top: 30px;
}
