.program-choose__background-wrapper {
  background-color: #68B738;
  background-image: url("../../img/green-cat-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 140px;
}
