.additional-goods-gift__wrapper {
  background-color: #68b738;
  background-image: url("../img/cat-in-a-case-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 280px;
  height: 290px;
  margin: 0 auto 35px;
}
